.container {
  max-width: 600px;
}
.btn {
  background: #43d9be;
  color: white;
  outline: none;
  box-shadow: none;
}
.btn:focus {
  outline: none !important;
}
.username {
  font-weight: bold;
}
.time {
  font-size: 0.7em;
}
.update-msg {
  text-align: center;
  margin: 20px auto;
}
